:root {
  --font: "Poppins", sans-serif;
}
@font-face {
  font-family: "digit";
  src: url("font.ttf");
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/07/19/10/00/school-work-851328_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.whole {
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.day {
  font-size: 0.8rem;
  font-family: var(--font);
  margin: 20px;
}

.day span {
  margin: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.day .open {
  color: orange;
}
.time {
  width: 300px;
  height: 100px;
  display: flex;
  font-size: 4rem;
  font-family: digit;
  color: rgb(16, 235, 53);
  align-items: baseline;
  justify-content: center;
  align-items: center;
}

.time .ap {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-left: 10px;
}
.time .ap span {
  margin: 4px 0px;
  color: rgba(255, 255, 255, 0.5);
}
.time .ap .open {
  color: orange;
}

.time .colon {
  margin: 0px 10px;
  opacity: 1;
  animation: blink 1s ease infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.time .all .h::before {
  content: "8";
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}
.time .all .m::before {
  content: "8";
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}
.time .all .s::before {
  content: "8";
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.time .all {
  display: flex;
  margin: 10px;
}
.date {
  font-size: 2rem;
  font-family: digit;
  color: red;
  margin: 0px 0px 20px 0px;
}
.mon {
  font-size: 0.8rem;
  font-family: var(--font);
  margin: 20px;
}

.mon .m {
  margin: 5px;
  color: rgba(255, 255, 255, 0.5);
}
.mon .open {
  color: orange;
}
