* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #272c34;
  font-family: "Poppins", sans-serif;
  user-select: none;
  position: relative;
}
.side {
  width: 30px;
  height: 5px;
  background-color: aliceblue;
}
.side1 {
  position: fixed;
  top: 12%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: -32px;
  border: none;
  outline: none;
  background-color: transparent;
  gap: 2px;
  padding: 0px;
}
.side3 .side5 {
  width: 20%;
  position: absolute;
  height: 100vh;
  background-color: #212121;
  z-index: 1;
  display: grid;
  align-content: start;
  transform: translateX(-250px);
  transition: transform 1px ease-in-out;
}
.side4 {
  position: fixed;
  top: 0;
  left: 20%;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  opacity: 0;
  visibility: hidden;
}
.open .side5 {
  transform: translateX(0px);
}
.open .side4 {
  opacity: 1;
  visibility: visible;
}

.side3 a {
  text-decoration: none;
  font-size: 20px;
  color: #26de81;
  padding: 10px;
  text-align: center;
}

#a1 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 300px;
  height: 200px;
  position: fixed;
}
#a2 {
  display: none;
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 300px;
  height: 200px;
  position: fixed;
}
.m1 {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-areas: "b1 b1 b1 " "b2 b2 b2" "cc cc cc" "b3 b4 b5" "b6 b6 b6";
  grid-template-rows: 1fr 0.7fr 2fr 7fr 1fr;
  grid-template-columns: 0.8fr 3fr 1fr;
  color: white;
}
.cc {
  grid-area: cc;
}
.b1 {
  grid-area: b1;
  font-family: "Bruno Ace SC", cursive;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: #26de81;
  font-variant: small-caps;
  font-weight: 900;
  background-color: #2f3640;
}

.b2 {
  grid-area: b2;
  max-width: 100%;
  max-height: 70%;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.l1 {
  display: grid;
  grid-auto-flow: column;
}

.button {
  color: black;
  position: absolute;
  right: 0;
  width: 150px;
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background-color: whitesmoke;
}
.button:hover {
  background-color: aliceblue;
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
}
.bar {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 20px;
}
.search {
  box-sizing: border-box;
  width: 390px;
  height: 100%;
  position: relative;
  outline: none;
  border: none;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 20px;
  border-left: 5px solid #2f3640;
}
.btn {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  color: aliceblue;
  background-color: #161f30;
}

.search::placeholder {
  font-size: 20px;
}
.b2 a {
  text-decoration: none;
  color: #3af598;
  display: block;
  padding: 0px 50px;
  font-size: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #161f30;
  border-left: 2px solid #2f3640;
}
.b2 a:hover {
  background-color: #57606f;
  border-radius: 3px;
  transform: translateY(-3px);
  transition: transform 0.3s ease-in-out;
}

.b3 {
  grid-area: b3;
  background-color: #272c34;
  display: grid;
  align-content: start;
  padding-top: 20px;
}
.b4 {
  grid-area: b4;
  background-color: #272c34;
  overflow: scroll;
  border-left: 2px solid #3f4854;
  margin-right: 10px;
  margin-left: 10px;
}
.b5 {
  grid-area: b5;
  background-color: #272c34;
  margin-right: 10px;
}
.b6 {
  grid-area: b6;
  background-color: #272c34;

  font-size: 15px;
  border-bottom: 2px solid #26de81;
  display: grid;
  align-content: center;
  justify-content: center;
}

.b2 {
  text-align: center;
  background-color: #272c34;
}

.genre {
  display: grid;
  align-content: space-evenly;
}
.lang1 {
  border-bottom: 2px solid #3f4854;
}
.lang a {
  text-decoration: none;
  color: white;

  display: grid;
  align-content: center;
  justify-content: center;
  padding: 10px;
}
a:hover {
  background-color: #2f3640;
}
summary:hover {
  background-color: #2f3640;
}
.lang summary {
  display: flex;
  justify-content: center;
  padding: 10px;
}
h3 {
  color: #26de81;
}
.genre {
  margin-top: 20px;
}
.lang {
  padding-bottom: 20px;
}
.trend {
  margin-top: 20px;
}
.t1 a {
  text-decoration: none;
  color: white;
  display: grid;
  align-content: space-between;
  font-size: 15px;
  padding: 10px 5px;
  background-color: #353a40;
  margin-bottom: 5px;
}
.t1 a:hover {
  outline: 1px solid #26de81;
  transition-duration: 0.3s;
}
.t1 {
  margin-top: 20px;
}
h4 {
  font-size: 25px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  background-color: #181a1f;
  padding: 10px;
}
.b6 p {
  column-count: 3;
  font-size: 15px;
}
code {
  color: #26de81;
}
.box {
  min-width: 150px;
  height: 200px;
  background-color: #3af598;
  margin-right: 10px;
}
.recent,
.podcast,
.inter {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 20px;
}
.box {
  cursor: pointer;
  display: grid;
  justify-items: center;
}
img {
  width: 100%;
  height: 150px;
}
.i1 {
  width: 100%;
}

h5 {
  color: black;
  text-align: center;
}
.side1 {
  width: 100px;
  height: 20px;
  background-color: #161f30;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  display: block;
}

.podcast .box {
  min-width: 150px;
  height: 200px;
  background-color: #3af598;
  margin-right: 10px;
}
@mediaq;
